.inputfield{
    font-family: Microsoft Sans Serif;
    font-size: 15px;
    margin:auto;
    width: 28%;
    height: 30px;
}
.Headtext{
    font-family: Microsoft Sans Serif;
    font-size: 40px;
    font-weight: bold;
}